[submodule "books/TAR-Does-God-Play-Dice"]
	path = books/TAR-Does-God-Play-Dice
	url = https://github.com/xujinlai/TAR-Does-God-Play-Dice.git
[submodule "books/gitbook-documentation"]
	path = books/gitbook-documentation
	url = https://github.com/xujinlai/documentation.git
[submodule "books/ProGit"]
	path = books/ProGit
	url = https://github.com/xujinlai/git.git
